@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header-container{
    padding: 1.5rem 0rem;
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    width: 100%;
    align-items: center;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-weight: 700;
}
.logo-container img{
    width: 4.8rem;
    margin-right: .5rem;
    /* object-fit: cover; */
}
.menu-container{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.menu-container li{
    list-style: none;
    margin-left: 1rem;
    font-size: 1rem;
    /* margin-left: 5%; */
}
.fa-youtube{
    color: red;
    font-size: 1.8rem;
    margin-left: 1rem;
}
.fa-tiktok{
    color: #000000;
    font-size: 1.8rem;
    margin-left: 1rem;
}
.menu-container a{
    text-decoration: none;
    color: black;
}
.menu-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem 1rem;
    cursor: pointer;
}
/* End of Nav */

.navber{
    background-image: linear-gradient(to right,#f8ecfc 0%, white 110%);
}
.navber-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.navber{
}
.navber-title{
    
    background-image: url('../images/Group\ 14.png');
    width: 50%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-left: 12.5%;
}
.navber-pic{
    padding-right: 12.5%;
}
.navber-title h1{
    font-size: 5rem;
    background-image: linear-gradient(to bottom,#f372d7 , #9a13ee);
    color: transparent;
    -webkit-background-clip: text;
}
.navber h2{
    font-size: 3rem;
    
}
.navber-title img{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.navber-title h1,h2{
    padding-top: 1rem;
    /* cursor: pointer; */
}
.navber p{
    padding-top: 1rem;
    cursor: pointer;
}
.navber-title a{
    /* text-decoration: none; */
}
.btn-one{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    cursor: pointer;
}
.btn-two{
    margin-left: 1rem;
    background-color: #4EC5F7;
    cursor: pointer;
}
.btn{
    margin-top: 1.5rem;
    padding: 1rem 2.5rem;
    border-radius: 48px;
    border: none;
    color: white;
}
.navber-pic{
    width: 50%;
}
.navber-pic img{
    width: 100%;
    margin-top: 5px;
    height: 100%;
}
/* End of header part */