@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header-container{
    padding: 1.5rem 0rem;
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    width: 100%;
    align-items: center;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-weight: 700;
}
.logo-container img{
    width: 4.8rem;
    margin-right: .5rem;
    /* object-fit: cover; */
}
.menu-container{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.menu-container li{
    list-style: none;
    margin-left: 1rem;
    font-size: 1rem;
    /* margin-left: 5%; */
}
.fa-youtube{
    color: red;
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.fa-tiktok{
    color: #000000;
    font-size: 1.8rem;
    /* margin-left: 1rem; */
}
.menu-container a{
    text-decoration: none;
    color: black;
}
.menu-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem 1rem;
    cursor: pointer;
}
/* End of Nav */

.navber{
    background-image: linear-gradient(to right,#f8ecfc 0%, white 110%);
}
.navber-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.navber{
}
.navber-title{
    
    background-image: url('../images/Group\ 14.png');
    width: 50%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-left: 12.5%;
}
.navber-pic{
    padding-right: 12.5%;
}
.navber-title h1{
    font-size: 5rem;
    background-image: linear-gradient(to bottom,#f372d7 , #9a13ee);
    color: transparent;
    -webkit-background-clip: text;
}
.navber h2{
    font-size: 3rem;
    
}
.navber-title img{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.navber-title h1,h2{
    padding-top: 1rem;
    /* cursor: pointer; */
}
.navber p{
    padding-top: 1rem;
    cursor: pointer;
}
.navber-title a{
    /* text-decoration: none; */
}
.btn-one{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    cursor: pointer;
}
.btn-two{
    margin-left: 1rem;
    background-color: #4EC5F7;
    cursor: pointer;
}
.btn{
    margin-top: 1.5rem;
    padding: 1rem 2.5rem;
    border-radius: 48px;
    border: none;
    color: white;
}
.navber-pic{
    width: 50%;
}
.navber-pic img{
    width: 100%;
    margin-top: 5px;
    height: 100%;
}
/* End of header part */

/* Games video part start */
.main-part-title{
    width: 60%;
    margin: 3rem auto 2rem;
    text-align: center;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:.5rem;
    width: 80%;
    margin: 0 auto;
}
.game-box p{
    font-size: 1rem;
    padding-top: 1rem;
}
.main-part-title h1{
    font-size: 3rem;
    padding-bottom: 1rem;
}
.game-box{
    width: 15.6rem;
    height: 18.7rem;
    border: .4rem solid white;
    /* overflow: hidden; */
    cursor: pointer;
    position: relative;
    overflow:-moz-hidden-unscrollable;
}
.game-box img{
    width: 100%;
    height: 100%;
}

.play-icon{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    visibility: hidden;
    border-radius: 8px;
    top: 0px;
    left: 0px;
    opacity: .7;
}
.play-icon i{
    font-size: 2rem;
}
.game-box:hover .play-icon{
    visibility: visible;
}

.game-box:hover{
    border: .2rem solid rgb(223, 34, 97);
    border-radius: 15px;
}
/* Start of play game section */
.design-word{
    background-image: linear-gradient(to bottom,#f372d7 , #9a13ee);
    color: transparent;
    -webkit-background-clip: text;
}
.play-game-container{
    display: flex;
    margin-top: 3%;
    padding: 5% 12.5%;
}
.play-game-title,.play-game-pic{
    width: 50%;
}
.play-game-pic img{
    width: 100%;
}
.play-game-title{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom:6rem;
}
.play-game-title h1{
    font-size: 1.5rem;
}
.play-game-pic{
    width: 80%;
}
.small-pic{
    border-radius: 8px;
    width: 8rem;
    position: relative;
    bottom: 7rem;
    left: 25rem;
    border: 1px solid black;
}
.small-pic img{
    width: 100%;
    height: 100%;
}

/* Start game type */

.game-type{
    margin-top: -40px;
}

.game-type-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 48px;
    padding: .2rem;
    border: 1px solid transparent;
}
.game-type-box p{
    font-size: .8rem;
}

.game-type-box:hover{
    border: 1px solid rgb(238, 96, 143);
    color: rgb(238, 96, 143);
}
.game-type{
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    padding: 0% 12.5% 5% 12.5%;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

/* Footer Start */
.footer-logo h2{
    font-size: 3rem;
}
.footer-container{
    height: 26rem;
    background-color: #0B0223;
    color:white;
    padding:4rem 0;
}
.footer-logo{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.footer-features{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-features li{
    list-style: none;
    padding-left: 1rem;
}

.mark{
    color:#FF42A5;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.footer-icons li{
    list-style: none;
    padding-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.footer-icons a{
    color: white;
}
.footer-terms{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    font-size: .8rem;
}
.footer-terms li{
    list-style: none;
    padding-left: 1rem;
    cursor: pointer;
}
.copy-policy{
    padding-top: 5rem;
    text-align: center;
    font-size: .8rem;
}